$namespace:'wt-';


@mixin blockquote($block) {
    // wt-
    $blockName: $namespace + $block !global;
    .#{$blockName} {
        @content;
    }
}


@mixin when($state) {
  @at-root {
    &.#{'is-' + $state} {
      @content;
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";
  @each $unit in $modifier {
    // 当前选择器
    $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ","};
  }
  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}