@import './mixins/mixins.scss';

@include blockquote(message-box) {
  &__wrapper {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(43, 47, 58, 0.7);
    z-index: 5000;
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle
    }
  }
  position: relative;
  width: 424px;
  height: 170px;
  border-radius: 4px;
  background: #fff;
  margin: auto;
  &__header {
    .close {
      display: flex;
      position: absolute;
      right: 24px;
      top: 24px;
      font-size: 12px;
      line-height: 1;
      color: #c0c4cc;
      cursor: pointer;
      &:hover {
        color: #4880ff;
      }
    }
  }
  &__content {
    display: flex;
    padding: 32px 0 0 24px;
  }
  &__status {
    img {
      margin-right: 11px;
    }
  }
  &__message {
    line-height: 1;
    &--main {
      margin-top: 14px;
      font-size: 18px;
      color: #333333;
      font-weight: bold;
    }
    &--tip {
      margin-top: 5px;
      font-size: 13px;
      font-weight: 500;
      color: #999;
    }
    &--danger.wt-message-box__message--tip{
        margin-top: 5px;
        font-size: 13px;
        font-weight: 500;
        color: #FC5C65;
    }
  }
  &__btns {
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
}