
@import './variable.scss';
@import './mixins/mixins.scss';
@include blockquote(message) {
  width: 560px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  transition: opacity 0.3s, transform .4s, top 0.4s;
  overflow: hidden;
  display: flex;
  background: $wt-color-white;
  padding: 10px 23px 12px 18px;
  color: #333;
  font-size: 13px;
  line-height: 1;
  border-radius: 4px;
  border-left-width: 6px;
  font-weight: 500;
  &.wt-message__assist {
    padding: 16px 24px 15px 24px;
    border-left-width: 1px;
    .wt-message__icon {
      margin-right: 16px;
      font-size: 24px;
    }
  }
  // icon
  &__icon {
    margin: 3px 8px 0 0;
    font-size: 14px;
  }
  // 标题
  &__title {
    font-size: 16px;
    margin: 4px 0;
  }
  // 内容
  &__content {
    line-height: 20px;
  }
  @include m(success) {
    border: 1px solid $wt-success-click-color;
    border-left-width: 6px;
    .wt-message__icon {
      color: $wt-success-click-color;
    }
  }
  @include m(primary) {
    border: 1px solid $wt-primary-color;
    border-left-width: 6px;
    .wt-message__icon {
      color: $wt-primary-color;
    }
  }
  @include m(warning) {
    border: 1px solid $wt-warning-click-color;
    border-left-width: 6px;
    .wt-message__icon {
      color: $wt-warning-click-color;
    }
  }
  @include m(danger) {
    border: 1px solid $wt-danger-click-color;
    border-left-width: 6px;
    .wt-message__icon {
      color: $wt-danger-click-color;
    }
  }
}
.wt-message-fade-enter,
.wt-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}