$modifier-separator: '--';
/* default */
$wt-color-white: #FFFFFF !default;
$wt-color-black: #000000 !default;
$--button-disabled-font-color: #C0C4CC !default;
$--button-disabled-border-color: #EBEEF5 !default;
// 灰度比例
$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

/* background-color */
$wt-default-color: $wt-color-white;
$wt-default-hover-color: #eff4fe;
$wt-default-click-color: $wt-default-hover-color;
$wt-primary-color: #4880FF;
$wt-primary-hover-color: #5588fe;
$wt-primary-click-color: #3869d7;
$wt-info-color: #e6ebf5;
$wt-info-hover-color: #edf1f7;
$wt-info-click-color: #dfe4ed;
$wt-warning-color: #fee5d0;
$wt-warning-hover-color: #fca55f;
$wt-warning-click-color: #fd9644;
$wt-danger-color: #FFE5E7;
$wt-danger-hover-color: #FD5A69;
$wt-danger-click-color: #FF4858;
/* text-color */
$wt-default-text-color: #495060;
$wt-default-text-hover-color: #4880ff;
$wt-default-text-click-color: $wt-default-text-hover-color;
$wt-primary-text-color: $wt-color-white;
$wt-primary-text-hover-color: $wt-color-white;
$wt-primary-text-click-color: $wt-color-white;
$wt-info-text-color: #606266;
$wt-info-text-hover-color: $wt-info-text-color;
$wt-info-text-click-color: $wt-info-text-color;
$wt-warning-text-color: $wt-warning-click-color;
$wt-warning-text-hover-color: $wt-color-white;
$wt-warning-text-click-color: $wt-color-white;
$wt-danger-text-color: #ff4858;
$wt-danger-text-hover-color: $wt-color-white;
$wt-danger-text-click-color: $wt-color-white;


/* border-color */



$wt-button-border-hover-color: #ceddfe;
$wt-button-border-click-color: #4880FF;
$wt-button-background-hover-color: #eff4fe;


$wt-disabled-color: #BFBFBF;
$wt-primary-disabled-color: #c0c4cc;


$wt-font-size: 12px;
$wt-button-max-width: 40px;
$wt-font-color: #495060;
$wt-button-height-default: 32px;
$wt-button-border-color: #D8DCE5;


$wt-font-size-medium: 14px;
$wt-button-height-medium: 30px;

$wt-font-size-small: 12px;
$wt-button-height-small: 28px;

$wt-font-size-mini: 12px;